.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-image: url( '../images/background-sayagata.png' );
    font-family: 'Seravek' , Arial , 'Helvetica Neue' , Helvetica , sans-serif;
    font-size: 15pt;
    color: #777777;
}

h1, h2, h3 {
    font-family: 'Iowan Old Style' , Georgia , Times , 'Times New Roman' , serif;
    font-weight: bold;
}

/*** Header
***/

/*** Body
***/

/*** Content
***/

#content {
    margin-bottom: calc( 10px + 35px + 13pt + 10px + 35px );
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    background-color: #ffffff;
}

#content h2 {
    font-size: 24pt;
    color: #4aaaa5;
}

#content h3 {
    font-size: 18pt;
    color: #4aaaa5;
}

#content p {
    line-height: 1.75em;
}

#content p:first-of-type {
    margin-top: 0px;
}

#content a {
    text-decoration: none;
    color: #4aaaa5;
}

#content li {
    list-style-type: disc;
    list-style-position: inside;
    line-height: 1.75em;
}

/*** Content .portfolio-project
***/

#content .portfolio-project {
    position: relative;
}

#content .portfolio-project h3 {
    position: absolute;
    bottom: 10px;
    background-color: #4aaaa5;
    font-weight: 15pt;
    font-weight: normal;
}


#content .portfolio-project a {
    color: #ffffff;
}

#content .portfolio-project img {
    filter: opacity( 0.75 );
}

#content .portfolio-project img:hover {
    filter: opacity( 1 );
}

/*** Content form
***/

#content input[type=text]:hover {
    border-color: #4aaaa5;
}

#content input[type=email]:hover {
    border-color: #4aaaa5;
}

#content textarea:hover {
    border-color: #4aaaa5;
}

#content .btn-primary ,
#content .btn-primary:hover ,
#content .btn-primary:active ,
#content .btn-primary:visited {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}

/*** Footer
***/

#footer {
    border-style: solid;
    border-top-width: 10px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #4aaaa5;
    padding-top: 35px;
    padding-bottom: 10px;
    background-color: #666666;
}

#footer p {
    text-align: center;
    font-size: 13pt;
    color: #ffffff;
}